llama-parse
python-dotenv
python-docx
pypdf
pymongo
mongoengine

# Document processor dependencies
openai
aiolimiter
backoff
tiktoken

# Chunking methods dependencies
langchain-experimental

# Embedding and vector database dependencies
pinecone-client
