# Core Dependencies
python-dotenv
mongoengine
pymongo
pypdf
python-docx
llama-parse

# Document Processing
openai
aiolimiter
backoff
tiktoken

# Chunking Methods
langchain-experimental

# Vector Database
pinecone-client

# Google Generative AI
google-generativeai
